.root {
  color: $light;
  padding: 0.8rem 1.5rem;
  transition: 0.3s;
  text-decoration: none;
  background-color: $secondary;
  display: inline-block;
  font-size: rem(12px);

  &:hover {
    background-color: darken($secondary, 15%);
  }

  &.outline {
    border: 2px solid $light;
    background-color: transparent;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
