.pageWrapper {
  flex-basis: 100%;
  width: 100%;

  @include up("m") {
    flex-basis: 75%;
    width: 75%;
    margin-left: 25%;
  }

  @include up("xl") {
    flex-basis: 80%;
    width: 80%;
    margin-left: 20%;
  }
}
