@import "_config";

// Breakpoint
@mixin up($breakpoint, $direction: $media-direction) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else if unitless($breakpoint) {
    $breakpoint: $breakpoint + 0px;

    @media (#{$direction}-width: $breakpoint) {
      @content;
    }
  }
}

@function rem($size) {
  @return $size / 16px * 1rem;
}

@mixin black-overlay() {
  position: relative;
  &:before {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $dark;
    opacity: 0.6;
  }
}

@mixin to-front() {
  position: relative;
  z-index: 1;
}
